{% extends 'works/base.html' %}
    {% block content %}
    {% load static %}
        <h1>Расписание заданий</h1>

        <h2><b>Задания</b></h2>
        <div class="block">
            {% for project in projects %}
            <div class="element">
                <div class="text">
                    <h2><b>{{ project.name }}</b></h2>
                    <h3><b>{{ project.target }}:    {{  project.numbers_of_workers }}</b></h3>
                    <h3><b>{{ project.start_time }}</b></h3>
                </div>
                <div class="img"><img src="{{ project.image_previous.url }}" alt=""></div>
                <div class="text">
                    <h3><b>{{ project.duration }}</b></h3>
                </div>
                <div class="img"><img src="{{ project.image_after.url }}" alt=""></div>
            </div>
            {% endfor %}
        </div>

    {% endblock content %}